<div>
    <ul>
        <li>Nom: {{nom}}</li>
        <li>id: {{idMembre}}</li>
        <li>Date de naissance: {{dateNaissance}}</li>
        <li>Adresse Postale: {{adressePostale}}</li>
        <li>Adresse électronique: {{adresseElectronique}}</li>
        <li>Numéro du compte banquaire: {{numeroCompteBanquaire}}</li>
        <li>Nom de la banque: {{nomBanque}}</li>
        <li>Numero du permis: {{numeroPermis}}</li>
        <li>Mot de passe: {{motDePasse}}</li>
        <li>Lieu d'origine: {{lieuOrigine}}</li>

    </ul>
</div>