<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil">INF3710 - TP4</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <button class="nav-item nav-link active" routerLink="/reservation">Voir reservation</button>
        <button class="nav-item nav-link active" routerLink="/search">Rechercher un membre</button>
      </div>
    </div>
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>
      Covoiturage Inc
    </p>
  </div>
  <router-outlet></router-outlet>
</div>
